html
    head
        style
            include ./style.css

    body
        div.row.extra-pages
            div.col-12
                h1="Envio de Contra Cheque"
            div.col-12
            form(action="/" method="post" enctype="multipart/form-data")
                .form-group
                    label(for='pdf') Selecione o PDF
                    input#pdf.form-control(name="pdf" type='file',required)
                .form-group
                    label(for='excel') Selecione o Excel
                    input#excel.form-control(name="excel" type='file',required)
                button.btn.btn-primary(type='submit') Enviar E-mails
