body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
}

form{
  font-size:14px;
  display:flex;
  flex-direction: column;
}
label{
  margin-bottom: 3px;
}

.form-group{
  display:flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-control {
  font-size: 14px;
}

.btn{
  height: 30px;
  border-radius: 15px;
  background-color: gray;
}

.btn:hover{
  background-color: lightgray;
}